.row {
    display: flex;
    align-items: center;
    justify-content: center
    }

.button {
	background-color: #2f4353;
	border: none;
	color: white;
	padding: 15px 32px;
	font-size: 16px;
	cursor: pointer;
	/* margin: auto; */
	display: block;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
    margin-bottom: 50px;
}
h1 {
    font-size: 30px;
    text-align: center;
    color : #2f4353
}
.pola {
    width: 200px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    float: left;
    padding: 5px;
}
.pola.mini { 
    width: 50px;
    margin-bottom: 5px;
    padding: 1px;
}

.mini .pic {
    width:50px;
    height: 150px;
    object-fit: cover;
}

.mini .legend {
    display: none;


}

.legend {
    text-align: center;
    padding: 10px 20px;
}
.centerPic { 
    width:200px;
    height: 600px;
    object-fit: cover;
}

.row::after {
        content: "";
        clear: both;
        display: table;
      }


   
                
                div.container {
                    text-align: center;
                    padding: 10px 20px;
                }
